.inspector-panel__default {
  /* max-width: 540px;
  min-width: 540px; */
  height: 100%;
  /* Photo by Annie Spratt on Unsplash */
  background: url('../../../assets/annie-spratt-unsplash.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.inspector-panel__container {
  /* max-width: 540px;
  min-width: 540px; */
  display: flex;
  flex-direction: column;
  box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
