.plant-list-row-container {
  margin: 0.5em 0;
}

.plant-list-row {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1em);
}

.list-row__text {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}

.list-row__watering-days-number {
  position: absolute;
}

.list-row__plant-name {
  margin: 0 0.5em 0 2em;
  max-width: 50%;
}

.list-row__buttons {
  /* min-width: 20%; */
  white-space:nowrap;
}
