.plant-dialog__title-card {
  width: calc(100% - 4em + 2px);
  height: 10em;
  background-color: lightGreen;
  padding: 2em;
  display: flex;
}

.plant-dialog__title-card-text {
  flex-grow: 1;
}

.plant-dialog__title-card-close-button {
  margin-top: -1em;
}

.plant-dialog-event-section__card {
  padding: 0.5em;
}

.plant-dialog-event-section__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plant-dialog-event-section__body {
  margin-top: 0.5em;
}
