.plants {
  /* Summer vector created by winkimages - www.freepik.com */
  background: url('../assets/leaf_pattern.jpg') repeat fixed;
  background-size: 500px;
  height: 100vh;
}

.plants__container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  height: calc(100% - 3em);
}

.plants__lists {
  overflow-y: scroll;
  height: calc(100% - 3em - 4px);
}

.plants__attention-list {
  border: 2px solid rgba(76, 136, 119, 0.5);
  border-radius: 8px;
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: rgba(179, 254, 191, 0.2);
}

.plants__list-spacer {
  height: 9em;
}
