.sign-in__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Summer vector created by winkimages - www.freepik.com */
  background: url('../assets/leaf_pattern.jpg') repeat fixed;
  background-size: 500px;
}


.sign-in__fields {
  padding: 2em;
  display: flex;
  width: 20em;
  flex-direction: column;
  justify-content: center;
}

.MuiLink-root:hover {
  cursor: pointer
}
